:root{
    --green-tech: #089b76;
    --blue-tech: #111125;
}

html{
    font-size: 62.5%;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
}


body{
    margin: 0;
    padding: 0;  
}
.home-body{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.grid-container{
    max-width: 980px;
    margin: auto;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}
h1{
    font-family: 'Russo One', sans-serif;
    font-size: 4rem;
}
h2{
    font-family: 'Russo One', sans-serif;
    font-size: 3rem;
}
h3{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
header{
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--blue-tech);
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--green-tech);
    }

header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span{
    color: white;
    
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background-color: var(--blue-tech);
}

nav .nav-logo-container{
    margin-left: 50px;
    display: inline-flex;
    align-items: center;
}

.nav-logo-container img{
    width: 50px;
}

.nav-logo-container p{
    margin-left: 10px;
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    color: white;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a{
    color: white;
    border-bottom: 1px solid white;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url("/assets/img/circuit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main .main-container {
    grid-column: 2/3;
    display: grid;
    grid-template: repeat(6, 1fr)/repeat(6, 1fr);
    align-items: center;
}

 .main-container .texts{
    
    grid-row: 1/3;
    grid-column: 1/7;
}

.main-container .texts p{
    margin-top: 60px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 4rem;
    color: white;
    line-height: 3.5rem;
    opacity: 90%;
}

.main-container .container-button{
    grid-row: 3/4;
    grid-column: 1/7;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container-button button{
    height: 60px;
    width: 120px;
    background-color: var(--green-tech);
    border: 5px solid white;
    border-radius: 15px;
    font-family:'Merriweather Sans', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: white;
    opacity: 90%;
}

.blogs-main{
    display: grid;
    justify-content: center;
}

.blogs-news-container{
    background-color: #E6E9ED;
    padding: 0 50px 40px;
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-new-img-container{
    grid-column: 1;
    margin: auto;
}

.blogs-new-img-container img{
    width: 80%;
}

.blogs-news-info-container{
    grid-column: 2;
}

.blogs-news-info-container p{
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 2rem;
}

.blogs-posts-container{
    padding: 0 50px 40px;
}

.blogs-posts-container h3{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    text-align: center;
}

.blogs-button {
    border: 2px solid var(--green-tech);
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: bold;
}

.blogs-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}

.blogs-posts-container .post-container h3{
    border-bottom: none;
    text-align: left;
}

.blogs-posts-container .post-container p{
    margin-bottom: 35px;
    text-align: justify;
}

.blogs-posts-container .post-container img{
    width: 100%;
}

footer{
    width: 100%;
    height: 80px;
    background-color: var(--blue-tech);
    border-top: 30px solid var(--green-tech);
    text-align: center;
}

footer p{
    color: white;
    margin-top: 30px;
}

.blogpost-img-container{
    padding: 0 50px 40px;
}

.blogspot-img-container img{
    width: 100%;
}

.blopost-main-container{
    padding: 0 80px 40px;
}

.blogpost-main-container h3{
    border-bottom: 1px solid rgb(137, 241, 233);
    padding-bottom: 20px;
}
.blogpost-main-container p{
    font-size: 1.5rem;
    font-weight: 400;
}

.contact-main-container{
    width: 100%;
    min-height: 200px;
    background-color: #E6E9ED;
    text-align: center;
    padding-bottom: 50px;
}

.contact-main-container div{
    display: inline-block;
    width: 49.5%;
    height: 100%;
}

.contact-main-container div a{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
}
.contact-main-container div p{
    font-size: 1.2rem;
}
.contact-main-container .contact-left, .contact-right{
    text-align: initial;
    margin-top: 85px;
}

.contact-main-container img{
    width: 100px;
}